@{
    ViewData["Title"] = "Парсер ЦБ";
}

<div class="text-center">
    <h1 class="display-4">Сведения о кредитно-финансовых учреждениях</h1>
    <p>Выберите файл для загрузки</p>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <button type="submit">Загрузить</button>
    </form>

</div>
