@model List<BICDirectoryEntry>

@{
    ViewData["Title"] = "Результат";
}
<script>
    var bicDirectoryEntries = @Html.Raw(Json.Serialize(Model));

    console.log(bicDirectoryEntries);
</script>

<div class="text-center">
    <h1 class="display-4">Результат загрузки</h1>
    <p>Ваши данные:</p>

    <table>
        <thead>
            <tr>
                <th>BIC</th>
                <th>Название</th>
                <th>Регион</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var entry in Model)
            {
                <tr>
                    <td>@entry.BIC</td>
                    <td>@entry.Accounts.Count</td>
                    <td>@entry.ParticipantInfos.Count</td>
                </tr>
             
            }
        </tbody>

    </table>
</div>